		<div class="portfolio-two-image">
			<a ui-sref="productDetail({url:product.url})" class="product-header"></a>
			<em class="sk">SK : {{::product.stockCode}}</em>
			<img image-lazy-src="{{::product.image}}" image-lazy-loader="lines" class="responsive-image">
		</div>
		<div class="pl_aciklama">
			<a ui-sref="productDetail({url:product.url})" class="title">{{::product.name}}</a>
			<div class="plist-fiyat half-bottom">
						<b>{{::product.price|number:2}} TL</b>
			</div>
			<a href="javascript:;" class="btn  addToBasketButton" title="Sepete ekle">
				<i class="fa fa-shopping-cart fa-fw"></i>
				SEPETE EKLE
			</a>
		</div>
