#login-modal h2 {text-align: center}

#login-modal, #login-modal .scroll {background:#f2f2f2}
/* Your application styles go here */
body.login-active .modal-backdrop {padding:10px;}
body.login-active .modal-backdrop-bg {background-color:rgba(0,0,0,0.6)}
body.login-active .modal {width:calc(100% - 20px);margin-top:10px;min-height:auto}
#login-modal .scroll-content {position:static;min-height:auto;width:calc(100% - 20px);top:inherit;left:inherit;right:inherit;bottom: inherit;}
#login-modal h2 {font-weight: 500;font-size:24px;padding:15px 0;background: #fff}
#login-modal .padding {padding: 10px 25px 15px}
#login-modal .list {margin-bottom: 0;}

.login-title {color:#000;margin-bottom:5px;font-size:14px}

button.close.pull-right {position: absolute;right:10px;top:10px;color:#000;opacity:.2;background:none;border:none;line-height:1;font-weight: 700;font-size:21px;text-shadow: 0 1px 0 #fff;}

.btn-black {font-weight: bold;font-size:17px;padding: 15px}

input.login-input, input.form-control{
    display: block;border-radius:0;width: 100%;height: 45px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;
    margin-bottom:10px;background-color: #fff;background-image: none;border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#login-modal .modal-bottom {
  border-top:1px solid #e5e5e5;padding:15px;text-align:center;letter-spacing: 1px;font-size:14px
}

ul.takibu-tab {border-bottom:solid 1px #ddd;width:100%;overflow:hidden;margin-bottom:20px;}
ul.takibu-tab > li {float:left;}
ul.takibu-tab > li a {display:inline-block;padding:15px 15px 15px 0;color:#000;font-size:17px;font-weight:700;border-bottom:solid 2px rgba(0,0,0,0);}
ul.takibu-tab > li.active a {border-color:#C60262;color:#C60262}

#page-loader {position:absolute;top:0;left:0;width:100%;height:100%;z-index:99999;background:rgba(0,0,0,0.6)}


/*KErim abi buraya yazacaksın*/
.btn-default {
			border: 1px solid #ccc;
		    font-size: 16px;
		    text-align: left;
		    color: #000 !important;
		    font-weight: bold;
		    border-left: 4px solid #c60262;
		}
		.mt10 {margin-top: 10px}
		.mt20 {margin-top: 20px}
		.mt30 {margin-top: 30px}

		.mb10 {margin-bottom: 10px}
		.mb20 {margin-bottom: 20px}
		.mb30 {margin-bottom: 30px}
		.button.button-block, .button.button-full {margin-top: 0}
