
body{font-family:KohinoorBangla-Regular,Roboto,Helvatica,Arial !important;-webkit-font-smoothing: antialiased;color:#666;font-size:12px;line-height:20px;}

a {text-decoration:none;display:block;position:relative;overflow:hidden;color:#3498db;tramsition:all 200ms ease;}
a:hover {color:#2980b9;transition:all 200ms ease;}
h1{font-size:21px;margin-bottom:10px;font-weight:800;color:#212935}
h2{font-size:19px;margin-bottom:10px;font-weight:800;color:#212935;}
h3{font-size:17px;margin-bottom:10px;font-weight:700;color:#212935}

h4{font-size:15px;margin-bottom:10px;font-weight:800;color:#212935;}

h5{
	color:#212935;
	font-size:13px;
	margin-bottom:5px;
	font-weight:800;
}

h1, h2, h3, h4, h5, h6{font-family:'Open Sans', sans-serif;-webkit-font-smoothing: antialiased;color:#1f1f1f;}

.side-bar-inner {width:288px;background-image:url(../images/menu-bg.png);background-size:100px 100px;}

/* 1. General */
::-webkit-scrollbar {
    display: none;
}

.all-elements{
    position:absolute;
    overflow-x:hidden!important;
    width:100%;
    height:100%;
    min-height:100%;
    max-height:100%;
}


/*Backgrounds */

.bg1{background-image:url(../images/pictures/1.jpg);background-position:center center;}

.bg2{
    background-image:url(../images/pictures/2.jpg);
    background-position:center center;
}

.bg3{
    background-image:url(../images/pictures/3.jpg);
    background-position:center center;
}

.bg4{
    background-image:url(../images/pictures/4.jpg);
    background-position:center center;
}

.no-bottom{
	margin-bottom:0px;
	padding-bottom:0px;
}

.half-bottom{
	margin-bottom:15px;
}

.full-bottom{
	margin-bottom:30px!important;
}

.main-top {margin-top:44px;padding-bottom:44px}
.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
}

.float-left{float:left;margin-right:10px;}
.float-right{float:right;margin-left:5px;}
.right-text{display:block;text-align:right;}
.left-text{display:block;text-align:left;}
.center-text{display:block;text-align:center;}
.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.regular-anchor{color:inherit!important;}
.responsive-image{width:100%;margin-bottom:20px;}
.round-image{border-radius:500px;}


.responsive-video{display:block;width:100%;margin-bottom:30px;}

.container{padding-right:15px;padding-left:15px;margin-right:0;margin-left:0}
div.item.active {background:none;border:none}
.portfolio-two {padding:0 5px}
.portfolio-two-item{
	/*width:49%;*/
	padding-left:5px !important;
	padding-right:5px !important;
	float:left;
}

.nopadding{padding:0!important}
.portfolio-two-title{
	margin-bottom:10px;
}

.portfolio-two-text .title{
	font-weight:400;
	margin-top:10px;
	margin-bottom:0px;
	font-size:13px;

}

.portfolio-two-text .subtitle{
	display:block;
	font-style:normal;
	font-size:11px;
	opacity:0.8;
	margin-bottom:10px;
}

.portfolio-two-detail{
	opacity:0.6;
	color:#666666;
	display:inline-block;
	padding-right:10px;
	padding-left:10px;
	margin-bottom:5px;
	margin-top:0px;
	font-size:11px;
	position:relative
}

.portfolio-two-links a{
	color:#666666;
	opacity:0.6;
}

.portfolio-two-links a:first-child{
	float:left;
	font-size:12px;
}

.portfolio-two-links a:first-child i{
	padding-right:10px;
}

.portfolio-two-links a:last-child{
	float:right;
	font-size:12px;
}

.portfolio-two-details a{
	opacity:0.5;
	color:#666666;
	display:inline-block;
	padding-right:10px;
	padding-left:10px;
	margin-bottom:5px;
	margin-top:10px;
	font-size:11px;
}

.portfolio-two-details a:first-child{
	padding-left:0px!important;
}

.portfolio-two-details a:nth-child(2){
	border-left:solid 1px #cacaca;
	border-right:solid 1px #cacaca;
}

.portfolio-two-links a:last-child i{
	padding-left:10px;
}

.portfolio-two-image{
	max-height:100%;
	transition:all 200ms ease;
	position:relative
}

.portfolio-two-image a{
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:999;
	color:#FFFFFF;
	font-size:30px;
	opacity:0;
	transition:all 200ms ease;
}

.portfolio-two-image a:hover{
	opacity:1;
	transition:all 200ms ease;
	color:#FFFFFF;
}

.portfolio-two-image a i{
	width:30px;
	height:30px;
	position:absolute;
	left:50%;
	margin-left:-15px;
	top:50%;
	margin-top:-13px;
}

.portfolio-two-image img{
	margin-bottom:0px;
	padding-botom:0px;
}
@media (min-width:768px){
	.portfolio-two-item {width: 33%; }
}
.sidebar-logo{
    background-image:url(http://www.takibu.com/assetsmobile/images/sidebar-logo.png);
    background-repeat:no-repeat;
    width:150px;
    height:130px;
    background-size:150px 130px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:55px;
}

#header, #header * {color:#000}
#toggle-left-menu, #toggle-signin {position:relative;z-index:2}
#header-right-buttons {position:absolute;right:5px;top:5px;bottom:5px;}
#header-right-buttons a {position:relative;}
#headerBasketCount {position: absolute;right: 0px;top: 6px;color:#fff;font-size:10px;background:#c60262;padding:3px 5px;line-height:10px;border-radius:10px;}

.sidebar-close{
    position:absolute;
    width:58px;
    height:60px;
    left:205px;
}

.sidebar-close i{
    width:60px;
    height:60px;
    line-height:65px!important;
    text-align:center;
    color:#fefefe;
}

.sidebar-header a i{
    width:53px;
    height:62px;
    text-align:center;
    line-height:60px;
    border-bottom:solid 1px rgba(255,255,255,0.05);
}

#basket-bar .sidebar-header a i{line-height:52px;}

.sidebar-header a{
    font-size:14px;
    color:#bcbcbc;
    width:53px;
    height:60px;
    float:left;
    border-right:solid 1px rgba(255,255,255,0.05);
    border-left:solid 1px rgba(0,0,0,0.2);
    border-bottom:solid 1px rgba(255,255,255,0.05);
    transition:all 250ms ease;
    background-color:rgba(0,0,0,0.1);
}
#basket-bar .sidebar-header a {border:none;background:none;float:right;color:#000}

.sidebar-header a:hover{
    background-color:rgba(255,255,255,0.02);
    color:#FFFFFF;
    transition:all 250ms ease;
}

.sidebar-header{
    border-bottom:solid 1px rgba(0,0,0,0.2);
    border-left:solid 1px rgba(255,255,255,0.05);
		height:61px
}


.sidebar-divider{
    background-color:#191b1c;
    min-height:30px;
    font-size:10px;
    line-height: 12px;
    font-family:'Open Sans', sans-serif;
    text-transform:uppercase;
    font-weight:800;
    color:#636464;
    border-bottom:solid 1px rgba(255,255,255,0.1);
    border-top:solid 1px rgba(255,255,255,0.1);
    line-height:14px;
    text-align: center;
    padding:5px;
}

.sidebar-navigation{
    margin-bottom:-1px;
}

.sidebar-navigation li{
    position:relative;
    overflow:hidden;
    display:block;
    list-style:none;
    line-height:40px;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    margin-bottom:0px;
}

.sidebar-navigation li a:hover{
    background-color:rgba(255,255,255,0.05);
}

.sidebar-navigation li a{
    padding-left:45px;
    color:#FFFFFF;
    font-family:'Open Sans', sans-serif;
    border-bottom:solid 1px rgba(0,0,0,0.2);
    transition:all 350ms ease;
    font-size: 14px
}

.sidebar-navigation li a i:first-child{
    position:absolute;
    height:40px;
    width:20px;
    line-height:40px;
    text-align:center;
    left:10px;
    font-size:14px;
    color:#bcbdbd;

}

.sidebar-navigation li a i:last-child{
    position:absolute;
    height:40px;
    width:40px;
    text-align:center;
    line-height:40px;
    font-size:8px;
    color:#bcbdbd;
    left:205px;
}

.sidebar-navigation li .fa-caret-right{
    font-size:10px!important;
}

.sidebar-navigation li .fa-mobile{
    font-size:27px!important;
}

.submenu{
    margin-bottom:0px;
}

.submenu li{
    border:none;
}

.submenu li a{border:none;}

.submenu a{padding-left:45px!important;color:#7e7e7e!important;font-size:11px;}

.submenu li:last-child{border-bottom:solid 1px rgba(0,0,0,0.2);}

.submenu .fa-angle-right{font-size:8px!important;left:45px!important;}

.deploy-submenu .fa-plus{font-size:8px!important;-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);transition:all 250ms ease;}

.active-menu{
    background-color:rgba(255,255,255,0.03);
    /*border-left:solid 5px #2980b9;*/
}

.active-menu .fa-circle{
    color:#27ae60!important;
    font-size:6px!important;
}

.active-submenu{
    border-bottom:solid 1px rgba(255, 255, 255, 0.05)!important;
    transition:all 250ms ease;
    -webkit-transition-delay: 250ms;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-delay: 250ms;
}

.active-submenu .fa-plus{
    color:#c0392b!important;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    transition:all 250ms ease;
}

.submenu{
    max-height:0px;
    overflow:hidden;
    transition:all 250ms ease;
}

.active-submenu-items{
    max-height:480px;
    transition:all 450ms ease;
}

/*SLide Menu*/
#home-slider img,
img {width:100%;}

.menu-wrapper{max-height:200px;overflow-y:hidden;position:fixed;top:70px;width:100%;padding-left:20px;padding-right:20px;z-index:99999;border-bottom:solid 1px #ececec;background-color:#FFFFFF;-webkit-box-shadow:inset 0 0px 15px 0 rgba(0,0,0,0.1);box-shadow:inset 0 0px 15px 0 rgba(0,0,0,0.1);transition:all 350ms ease-out;}

.hide-menu-wrapper{
    max-height:0px!important;
    transition:all 350ms ease-in;
}

.menu-wrapper em{
    display:block;
    text-align:center;
    margin-top:10px;
    margin-bottom:-10px;
    font-style:normal;
    font-size:13px;
}

.menu-wrapper em i{
    padding-right:10px;
}

.menu-wrapper a img{
    border:solid 1px rgba(0,0,0,0.1);
}

.menu2{
    margin-bottom:0px;
    margin-top:20px;
}

.menu2 .item{
    margin: 5px;
    color: #1f1f1f;
    text-align: center;
    font-size:14px;
    line-height:40px;
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}

.menu2 .item img{
    width:100%;
    display:block;
}

.menu2 *{
    overflow:visible!important;
}

.menu2 .owl-page{
    margin-top:50px;
}

.active-slide i{
    color:#1f1f1f!important;
    -ms-transform: rotate(180deg)!important;
    -webkit-transform: rotate(180deg)!important;
    transform: rotate(180deg)!important;
    transition:all 250ms ease;
}


.blue-update i{
    background-color:#2980b9;
}

.red-update i{
    background-color:#c0392b;
}

.yellow-update i{
    background-color:#f39c12;
}

.green-update i{
    background-color:#27ae60;
}

.sidebar-update i{
    width:40px;
    height:40px;
    border-radius:40px;
    text-align:center;
    line-height:40px;
    float:left;
    color:#FFFFFF;
    margin-right:20px;
    font-size:12px;
            translate:scale(1.0, 1.0);
    -webkit-translate:scale(1.0, 1.0);
    transition:all 350ms ease;
}

.sidebar-update{
    margin-top:30px;
    margin-left:25px;
}

.sidebar-update strong{
    display:block;
    font-size:12px;
    color:#FFFFFF;
    font-weight:400;
    font-family:'Open Sans', sans-serif;
}

.sidebar-update em{
    font-style:normal;
    font-size:11px;
    color:#666666;
}

.large-title h3{
    text-align:center;
}

.large-title h2{
    text-align:center;
}

.large-title p{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
    line-height:36px;
    text-align:center;
    font-weight:300;
}

.large-title a{
    font-weight:400;
}

/*Center Socials*/

.facebook-color{
    background-color:#3b5998;
    color:#FFFFFF;
}

.twitter-color{
    background-color:#4099ff;
    color:#FFFFFF;
}

.google-color{
    background-color:#d34836;
    color:#FFFFFF;
}

.pinterest-color{
    background-color:#C92228;
    color:#FFFFFF;
}

.sms-color{
    background-color:#27ae60;
    color:#FFFFFF;
}

.mail-color{
    background-color:#3498db;
    color:#FFFFFF;
}

.center-socials{
    width:180px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    padding-top:10px;
    margin-top:-10px;
}

.center-socials a{
    transition:all 250ms ease;
    margin-bottom:30px;
}

.center-socials a:hover{
    color:#FFFFFF;
    transform:scale(1.1, 1.1);
    transition:all 250ms ease;
}

.center-socials a i{
    width:40px;
    height:40px;
    line-height:40px;
}

.center-socials .facebook-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.center-socials .twitter-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.center-socials .google-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}



/*Content Heading*/
/*///////////////*/


.content-box{
    background-color:rgba(255,255,255,0.9);
    padding-top:30px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:30px;
}

.content-box-slider{
    background-color:rgba(255,255,255,0.9);
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}

.content-box-slider .container{
    padding-left:30px;
    padding-right:30px;
}


.content-heading h4{
	color:#FFFFFF;
	position:absolute;
	z-index:9999;
	text-transform:uppercase;
	margin-top:27px;
	padding-left:30px;
    pointer-events:none;
    font-weight:800;
}

.content-heading{
	max-height:100px;
}

.content-heading p{
	color:#FFFFFF;
	position:absolute;
	z-index:999;
	margin-top:48px;
	padding-left:30px;
	opacity:0.5;
    pointer-events:none;
}

.content-heading .overlay{
	z-index:99;
	background-color:rgba(0,0,0,0.8);
}

.content-heading i{
	font-size:32px;
	position:absolute;
	color:#FFFFFF;
	right:30px;
	z-index:999;
	margin-top:36px;
    pointer-events:none;
}

.content-heading img{
	width:100%;
	display:block;
	position:relative;
	z-index:2;
    transition:all 300ms ease;
}

.content-heading img:hover{
    filter: blur(3px);
    -webkit-filter:blur(3px);
    transition:all 300ms ease;
}

@media (min-width:768px){
	.content-heading{
		max-height:140px;
	}

	.content-heading h4{
		font-size:20px;
		margin-top:45px;
		padding-left:50px;
	}

	.content-heading p{
		font-size:13px;
		margin-top:75px;
		padding-left:50px;
	}

	.content-heading i{
		font-size:40px;
		margin-top:53px;
		right:50px;
	}
}

/*Thumbnails Columns*/

.thumb-clear{
	height:40px;
	display:block;
	width:100%;
}

.thumb-left{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-left a{
	display:block;
	text-align:right;
}

.thumb-left img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:left;
	margin-right:20px;
    transition:all 500ms ease;
}

.thumb-left img:hover{
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
}

.thumb-left strong{
	color:#1a1a1a;
	display:inline-block;
	padding-bottom:5px;
	font-size:13px;
}

.thumb-left em{
	font-style:normal;
}

.thumb-right{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-right img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:right;
	margin-left:20px;
    transition:all 500ms ease;
}

.thumb-right img:hover{
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
}

.thumb-right strong{
	color:#1a1a1a;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}

.thumb-right em{
	font-style:normal;
}


@media (min-width:600px){
	.thumb-left img{
		width:140px;
		height:140px;
		border-radius:150px;
	}

	.thumb-left em{
		line-height:28px;
	}

	.thumb-left strong{
		padding-top:10px;
	}

	.thumb-right img{
		width:140px;
		height:140px;
		border-radius:150px;
	}

	.thumb-right em{
		line-height:28px;
	}

	.thumb-right strong{
		padding-top:10px;
	}
}

/*////////////////////*/
/*Quote & Staff Slider*/
/*////////////////////*/

.staff-item img{

	max-width:70%;
	margin-left:auto;
	margin-right:auto;
    transition:all 500ms ease;
    margin-top:10px;
}

.staff-item img:hover{
    transform:scale(1.1, 1.1);
    transition:all 500ms ease;
}

.staff-item h4{
	text-align:center;
	margin-top:20px;
	font-size:16px;
}

.staff-item em{
	text-align:center;
	font-size:12px;
	color:#e34e47;
	display:block;
	margin-top:-10px;
	margin-bottom:10px;
	font-style:normal;
}

.staff-item strong{
	display:block;
	font-weight:bold;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	line-height:17px;
	font-size: 17px;
	color:#646464
}

/* 8. Quote Slider */

.quote-slider h4{
	font-family:'Source Sans Pro', sans-serif;
	font-size:18px;
	font-weight:300;
	width:87%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-height:36px;
}

.quote-slider a{
	text-align:center;
	margin-top:20px;
}


/*//////*/
/*Footer*/
/*//////*/
.footer {background: #000;padding:20px 0;color:#dbdbdb;}
.footer p{
    clear:both;

}

.content-box .footer-socials{


}

.footer-socials{



    padding-top:20px;
    padding-bottom:20px;
    margin-top:-15px;
    margin-bottom:-10px!important;
    text-align: center;
}

.footer-socials a:hover{
    transform:scale(1.15, 1.15  );
    color:#FFFFFF;
    transition:all 200ms ease;
}

.footer-socials a{
    width:35px;
    height:35px;
    text-align:center;
    line-height:35px;
    border-radius:35px;

    margin-left:10px;
    margin-right:10px;
    font-size:12px;
    color:#FFFFFF;
    transition:all 200ms ease;
    display: inline-block;
}

.footer-socials a i{
    width:35px;
    height:35px;
    line-height:35px;
}

.footer-facebook{
    background-color:#3b5998;
}

.footer-share{
    background-color:#27ae60;
}

.footer-twitter{
    background-color:#4099FF;
}

.footer-google{
    background-color:#d34836;
}

.footer-up{
    background-color:#2c3e50;
    line-height:32px!important;
}


.footer-menu{
    position:fixed;
    z-index:9999999;
    background-image:url(../images/misc/menu-bg.png);
    background-size:100px 100px;
    width:100%;
    height:60px;
    bottom:0px;
}

.footer-menu a{
    border-right:solid 1px rgba(255,255,255,0.08);
    color:#FFFFFF;
    font-size:14px;
}

.footer-menu a:hover{
    color:#FFFFFF;
    background-color:rgba(255,255,255,0.05);
}

.footer-menu-clear{
    height:60px;
}

.footer-menu a i{
    height:60px;
    line-height:60px;
}

.footer-menu-three-icons a{
    width:33.3%;
    float:left;
    text-align:center;
}

.footer-menu-four-icons a{
    width:25%;
    float:left;
    text-align:center;
}

.footer-menu-five-icons a{
    width:20%;
    float:left;
    text-align:center;
}

.footer-menu-six-icons a{
    width:16.7%;
    float:left;
    text-align:center;
}


/*Fullscreen Slider Image*/
.slider-image-1{background-image:url(../images/pictures/3.jpg);}
.slider-image-2{background-image:url(../images/pictures/1.jpg);}
.slider-image-3{background-image:url(../images/pictures/5.jpg);}

/*Page Header*/

#content{
    padding-top:50px;
}

.header-clear{
    height:30px;
}

.header{
    pointer-events:all;
    position:fixed;
    height:50px;
    line-height: 50px;
    z-index:999999;
    background-color:#2a2c2d !important;
    width:100%;
    max-height:100%;
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    transition:all 350ms ease-in-out;
}

.hide-header-left{
    pointer-events:none!important;
    transform:translateX(266px)!important;
    -webkit-transform:translateX(266px)!important;
    transition:all 350ms ease-in-out;
}

.hide-header-right{
    pointer-events:none!important;
    transform:translateX(-266px)!important;
    -webkit-transform:translateX(-266px)!important;
    transition:all 350ms ease-in-out;
}

.header a:hover{
    color:#d7d7d7 !important;
}

.header a i{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition:all 250ms ease;

}

.main-logo{

    width:133px;
    height:35px;
    background-size:80px 21px;
    background-repeat:no-repeat;
    display: inline-block;
    float:none;

}

.header-controls{
    margin-top:8px;
    margin-right:3px;

}

.open-menu{
    float:left;
    width:40px;
    height:40px;
    line-height:40px !important;
     font-size: 18px;
    text-align:center;
     color:#d7d7d7 !important;

}

.open-slide{
    float:right;
    width:60px;
    height:40px;
    line-height:40px;
    font-size: 18px;
    text-align:center;
    color:#d7d7d7 !important;
    border-right:dashed 1px #cacaca;
}

.open-more{
    float:right;
    width:40px;
    height:40px;
    line-height:40px;
    font-size: 18px;
    text-align:center;
     color:#d7d7d7 !important;
}
.open-search{
    float:right;
    width:30px;
    height:40px;
    line-height:40px;
    font-size: 18px;
    text-align:center;
     color:#d7d7d7 !important;
}



/*	6. Code Highlight  */

.code{
	border:solid 1px #cacaca;
	font-size:12px;
	margin-bottom:30px;
}

.wline{
	font-size:11px;
	font-family:"Courier New", Courier, monospace!important;
	display:block;
	background-color:#FFFFFF;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	padding-bottom:8px;
}

.code > span:last-child{
	border-bottom:none;
}

.gline{
	font-size:11px;
	font-family:"Courier New", Courier, monospace!important;
	border-top:solid 1px rgba(0,0,0,0.1);
	border-bottom:solid 1px rgba(0,0,0,0.1);
	display:block;
	background-color:#f1f1f1;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	padding-bottom:8px;
}
/*Typograhpy Features*/

.center-icon{
	width:70px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

.last-column{
	margin-right:0%!important;
}

.one-third{
	width:28%;
	float:left;
	margin-right:8%;
}

.one-half{
	width:45%;
	float:left;
	margin-right:10%;
}

@media (max-width:760px){

.hide-if-mobile{
	display:none;
}

}

@media (min-width:760px) {
	.one-third-responsive{
		width:30%;
		float:left;
		margin-right:5%;
	}

	.one-half-responsive{
		width:46%;
		float:left;
		margin-right:8%;
	}

	.sidebar-left-big{
		width:70%;
		float:left;
		margin-right:5%
	}

	.sidebar-right-small{
		width:25%;
		float:right;
	}

	.sidebar-right-big{
		width:70%;
		float:right;
	}

	.sidebar-left-small{
		width:25%;
		float:left;
		margin-right:5%;
	}

	.hide-if-responsive{
		display:none;
	}

}

/*	4. Highlights  */

.text-highlight{
	color:#FFFFFF;
	padding:8px;
	margin-right:3px;
}

.highlight-turqoise{	 background-color:#16a085;	}
.highlight-green{  	 	background-color:#27ae60;	}
.highlight-blue{   		 background-color:#2980b9;	}
.highlight-magenta{	  background-color:#8e44ad;	}
.highlight-dark{		 background-color:#292c2c;	}
.highlight-yellow{	   background-color:#f1c40f;	}
.highlight-red{		  background-color:#c0392b;	}
.highlight-orange{	   background-color:#e67e22;	}
/*	5. Buttons  */

.full-button{
    display:block;
    width:100%;
    text-align:center;
}

.center-button{
	width:120px;
	margin-left:auto;
	margin-right:auto;
	display:block!important;
	margin-top:10px;
	text-align:center;
}

.button{
	display:inline-block;
	padding:5px 20px;
	color:#fff !important;
}

.box a.button {color: #fff !important;}

.button-mini {padding:5px;}

.button-3d{
	display:inline-block;
	padding:8px 20px;
}

.button i{
	margin-right:10px;
	font-size:12px;
	width:12px;
	text-align:center;
	margin-left:-5px;
}

.button:hover{
	color:#FFFFFF!important;
}


.button-3d:hover{
	color:#FFFFFF!important;
}

.tea-3d{				border-bottom:solid 4px #127663;}
.button-tea{			background-color:#16a085; color:#FFFFFF;}
.button-tea:hover{		background-color:#1abc9c;}

.green-3d{				border-bottom:solid 4px #1e8248;}
.button-green{			background-color:#27ae60; color:#FFFFFF;}
.button-green:hover{	background-color:#2ecc71;}


.ana-3d{				border-bottom:solid 4px #a4195c;}
.button-ana{			background-color:#c60262; color:#FFFFFF;}
.button-ana:hover{	background-color:#e12983;}


.blue-3d{				border-bottom:solid 4px #194e70;}
.button-blue{			background-color:#2980b9; color:#FFFFFF;}
.button-blue:hover{		background-color:#3498db;}

.magenta-3d{			border-bottom:solid 4px #602e75;}
.button-magenta{		background-color:#8e44ad; color:#FFFFFF;}
.button-magenta:hover{	background-color:#9b59b6;}

.dark-3d{				border-bottom:solid 4px #19232d;}
.button-dark{			background-color:#373737; color:#FFFFFF;}
.button-dark:hover{		background-color:#34495e;}

.yellow-3d{				border-bottom:solid 4px #ba970b;}
.button-yellow{			background-color:#f1c40f; color:#1f1f1f;}
.button-yellow:hover{	background-color:#f39c12;}

.orange-3d{				border-bottom:solid 4px #9d3e00;}
.button-orange{			background-color:#d35400; color:#FFFFFF;}
.button-orange:hover{	background-color:#e67e22;}

.red-3d{				border-bottom:solid 4px #8a281e;}
.button-red{			background-color:#c0392b; color:#FFFFFF;}
.button-red:hover{		background-color:#e74c3c;}

.light-3d{				border-bottom:solid 4px #868a8c;}
.button-light{			background-color:#bdc3c7; color:#1f1f1f;}
.button-light:hover{	background-color:#ecf0f1;}

.grey-3d{				border-bottom:solid 4px #474d4e;}
.button-grey{			background-color:#7f8c8d; color:#FFFFFF;}
.button-grey:hover{		background-color:#95a5a6;}


/*	7. Lists  */


.number-list {}
.number-list li{
	line-height:26px;
	list-style:decimal;
	overflow:visible!important;
	margin-left:0px;
	list-style:decimal;
	margin-left:20px;
	padding-left:0px;
}

.normal-list li{
	line-height:26px;
	padding-left:5px;
}

.icon-list li{
	list-style:none;
	padding-left:30px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	background-position:0px 5px;
	margin-bottom:10px;
	line-height:26px;
}

.font-icon-list li{
	list-style:none;
	padding-left:0px;
	color:#666666;
	line-height:26px;
}

.font-icon-list li a{
	color:#666666;
}

.icon-list li a{
	color:#666666;
}

.font-icon-list i{
	margin-right:10px;
	width:12px;
}

.address-list{
	background-image:url(../images/lists/address_48.png);
}

.block-list{
	background-image:url(../images/lists/block_48.png);
}

.bookmark-list{
	background-image:url(../images/lists/bookmark_48.png);
}

.briefcase-list{
	background-image:url(../images/lists/briefcase_48.png);
}

.bubble-list{
	background-image:url(../images/lists/bubble_48.png);
}

.buy-list{
	background-image:url(../images/lists/buy_48.png);
}

.calendar-list{
	background-image:url(../images/lists/calendar_48.png);
}

.clipboard-list{
	background-image:url(../images/lists/clipboard_48.png);
}

.clock-list{
	background-image:url(../images/lists/clock_48.png);
}

.delete-list{
	background-image:url(../images/lists/delete_48.png);
}

.diagram-list{
	background-image:url(../images/lists/diagram_48.png);
}

.document-list{
	background-image:url(../images/lists/document_48.png);
}

.down-list{
	background-image:url(../images/lists/down_48.png);
}

.flag-list{
	background-image:url(../images/lists/flag_48.png);
}

.folder-list{
	background-image:url(../images/lists/folder_48.png);
}

.gear-list{
	background-image:url(../images/lists/gear_48.png);
}

.globe-list{
	background-image:url(../images/lists/globe_48.png);
}

.heart-list{
	background-image:url(../images/lists/heart_48.png);
}

.help-list{
	background-image:url(../images/lists/help_48.png);
}

.home-list{
	background-image:url(../images/lists/home_48.png);
}

.info-list{
	background-image:url(../images/lists/info_48.png);
}

.key-list{
	background-image:url(../images/lists/key_48.png);
}

.label-list{
	background-image:url(../images/lists/label_48.png);
}

.left-list{
	background-image:url(../images/lists/left_48.png);
}

.letter-list{
	background-image:url(../images/lists/letter_48.png);
}

.monitor-list{
	background-image:url(../images/lists/monitor_48.png);
}

.pencil-list{
	background-image:url(../images/lists/pencil_48.png);
}

.plus-list{
	background-image:url(../images/lists/plus_48.png);
}

.present-list{
	background-image:url(../images/lists/present_48.png);
}

.print-list{
	background-image:url(../images/lists/print_48.png);
}

.right-list{
	background-image:url(../images/lists/right_48.png);
}

.save-list{
	background-image:url(../images/lists/save_48.png);
}

.search-list{
	background-image:url(../images/lists/search_48.png);
}

.shield-list{
	background-image:url(../images/lists/shield_48.png);
}

.statistics-list{
	background-image:url(../images/lists/statistics_48.png);
}

.stop-list{
	background-image:url(../images/lists/stop_48.png);
}

.tick-list{
	background-image:url(../images/lists/tick_48.png);
}

.trash-list{
	background-image:url(../images/lists/trash_48.png);
}

.up-list{
	background-image:url(../images/lists/up_48.png);
}

.user-list{
	background-image:url(../images/lists/user_48.png);
}

.wallet-list{
	background-image:url(../images/lists/wallet_48.png);
}

.warning-list{
	background-image:url(../images/lists/warning_48.png);
}

/*//////////////////////////////*/
/*Homepage Landing Page Settings*/
/*//////////////////////////////*/

#bg { position: fixed; top: 0; left: 0%; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.landing-wrapper{
	position:relative;
	z-index:999999;
}

.landing-page{
    background-image:url(../images/bg.png);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    display:block;
    position:relative;
}

.snap-background{
    background:url(../images/bg.png) top right repeat; background-attachment:fixed;;
}

.bg-pattern{
	z-index:100;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-image:url(../images/bgpat.png);
	background-repeat:repeat;
}


.landing-logo{
	width:105px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}

.landing-logo-sub{
	font-size:10px;
	font-style:normal;
	text-transform:uppercase;
	text-align:center;
	color:#FFFFFF;
	display:block;
	margin-top:5px;
}

.landing-navigation{
	margin-top:30px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

.landing-navigation a{
	text-align:center;
	color:rgba(255,255,255,0.4);
	font-size:15px;
	text-transform:uppercase;
	font-family:'Dosis', sans-serif;
	font-weight:400;
	float:left;
	width:100px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:15px;
    transition:all 250ms ease;
}

.landing-navigation a:hover{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.landing-navigation a i{
    display:block;
    width:65px;
    height:65px;
    margin-left:auto;
    margin-right:auto;
    line-height:63px;
    border-radius:65px;
    border:solid 2px #FFFFFF;
    color:#FFFFFF;
    font-size:20px;
    margin-bottom:10px;
}

@media(min-width:768px){
    .landing-navigation{
        width:420px;
    }

    .landing-navigation a{
        width:100px;
        height:140px;
        margin-left:20px;
        margin-right:20px;
    }

    .landing-navigation a i{
        width:100px;
        height:100px;
        line-height:100px;
        font-size:30px;
    }
}

.landing-footer{
	width:150px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.landing-footer a{
	width:35px;
	height:35px;
	float:left;
	margin-left:10px;
	margin-left:10px;
}

.landing-footer a i{
    width:35px;
    height:35px;
    line-height:35px;
    color:#FFFFFF;
    text-align:center;
    border-radius:35px;
    border:solid 1px #FFFFFF;
}

.landing-footer p{
	text-align:center;
	font-size:12px;
	margin-left:0px;
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:20px;
    line-height:26px;
}


.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}

.mb10 {margin-bottom: 0px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}

.bold {font-weight: bold}
.by11 {font-size: 11px}
.by15 {font-size: 15px !important}
.by17 {font-size: 17px}
.by20 {font-size: 20px}


.inline {display: inline}
.block , .goster {display: block}
.none {display: none;}
.inline-block {display: inline-block;}
.box {border:1px solid #ededed;padding:10px; }

.box a {color:#c40062!important;}

.gizle {display: none;}


.portfolio-two-text a {color: #000;font-size: 12px;display: inline-block;min-height: 60px;max-height: 60px;}

 .sk {position: absolute;top: 5px;right: 5px;font-size: 11px;background: #fff;padding: 2px 5px;font-style: normal;color: #000;font-weight: bold;}
.pl_aciklama {text-align: center;}
 .pl_aciklama a {display: block;height: 30px;overflow: hidden;color: #757575;line-height:1.4;font-size:12px;letter-spacing: 0.5px;text-align: center;white-space: normal}
 .kargoListeBedava {font-size: 11px;font-style: normal;display: block;position:absolute; top:10px ;left:10px;z-index: 2;background: #c60262;width: auto !important;color:#fff;text-align: center;padding:1px 5px;font-size:11px;text-transform:uppercase;font-weight:bold;}
.stokbitti {font-size: 18px;font-style: normal;display: block;position: absolute;bottom: 20%;left:0;z-index: 2;background: #e20a0a;width: 90% !important;color:#fff;text-align: center;opacity: 0.9;text-transform: uppercase;padding:8px;margin:0 10px;font-weight: bold;}

 .plist-fiyat b {font-size: 15px;color:#e2007b;display:block;margin:5px 0;}

.sepetsatir  {border:1px solid  #ededed ; border-bottom: 0;padding:10px;border-right: 0;border-left: 0;}
.sepetsatir.beyaz {border-top: 1px solid #2e3030;border-bottom: 1px solid #212424}
.side-sepet {padding: 10px;}

.sepetsatir:first-child {border-top:none;}
.kargobedava {color: #fff;font-size: 16px;font-weight: bold;padding-top: 5px;}

.user-side .submenu-nav-items a {padding:5px;}

.content {margin-left:15px !important;margin-right: 15px !important}

	/*.sosyalband {margin-top: -20px;}*/
	.sosyalband a {display: inline-block;width: 20% !important;display: inline;padding:10px 0;color:#fff;margin-right: 0;float: left;text-align: center;font-size: 15px}
	.sosyalband a.facebook {background: #3b5998}
	.sosyalband a.twitter {background: #4099ff}
	.sosyalband a.whatsapp {background: #27ae60}
	.sosyalband a.pinterest {background: #c92228}
	.sosyalband a.mailat {background: #3498db}


.alert .alert-danger {background: #e9b0b0;color: #735858;border:1px solid #d09f9f}
.alert {padding:10px;border: 1px solid #e9e9e9;}


.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666667%;}
.col-xs-7 {width: 58.33333333%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-4 {width: 33.33333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}

.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #fff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading { color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}


[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {background:#fff}
select {border:3px solid #e9e9e9;height:35px}
select:focus {border-color: #a6e48f}
.form-group .text-box {border:3px solid #e9e9e9;border-radius: 3px}
.form-group .text-box:focus {border:3px solid #a6e48f ;}
.box-border {
		border: 3px solid #000
	}

	.tab-but {font-size: 13px;float: left;background-color: #f9f9f9;margin-right: 2px;margin-bottom: 2px;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;}
	.tab-content {border: 1px solid #eeeeee;padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;}

#gender-cont {color:#1f1f1f;padding:80px 35px;text-align:center;font-weight:300}
#gender-cont h1.title {font-weight:300;letter-spacing:0.4}
#gender-cont a {display:block;color:#000;backgroun:#eee;border:solid 1px #ddd;font-weight:300;width:45%;height:40px;text-align:center;line-height:40px;font-size:15px;margin:50px 0}
#logo {width:95px;margin-top:9px}
.page-content {margin-top:44px}
#basket-bar {background:#fff;color:#666}
#basket-bar .sidebar-header  {height:48px;border:none}
#basket-bar .sidebar-header span {padding:15px 18px 10px 11px;font-size:18px;color:#000;font-weight:600}
/*#sepetmesaj strong {display:block;font-size:12px}*/
/*#sepetmesaj {border:dashed 2px #ff2a8c;font-size:11px;padding:center;border-left:none;text-align:center}*/
.sepetmesaj {font-weight:300}
.sepetmesaj.kargobedava {background: #4caf50;padding: 15px;color:#fff;letter-spacing: 1px;}
.sepetmesaj.kargobedava  b {font-size:17px;display:block;}
.paginator ul {list-style-type:none;display:flex;padding:0;margin:25px 10px}
.paginator ul li {flex:1;text-align:center;border:solid 1px #ddd;border-left:none;background:#f8f8f8}
.paginator ul li.active {background:#fff}
.paginator ul li:first-child {border-left:solid 1px #ddd;border-radius:2px 0 0 2px}
.paginator ul li:last-child {border-radius:0 2px 2px 0}
h1.mh1 {font-size: 15px;text-transform: uppercase;line-height: 20px;margin: 0;padding: 15px 0;font-weight:500;font-family: inherit;background:#eee;text-align:center}
.basket-btn-asolute {position:absolute;right:0;top:50%;transform:translateY(-50%)}
.btn {display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;border-radius:0;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent}
.btn-sm {padding: 5px 10px;font-size: 12px;line-height: 1.5;}
.btn-black {color: #ffffff;background-color: #000000;border-color: #000000;}
.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open .dropdown-toggle.btn-black {color: #ffffff;background-color: #000000;border-color: #000000;}

.button.btn-primary {color: #ffffff !important;background-color: #C60262;border-color: #C60262;}

/*
####
URUN DETAY
####
*/

/*ürün fiyatı*/
.pic-alt h1 {font-size:14px;margin:0;padding:0;font-weight:500}
#urunDetPic{padding:0 30px;}
#urunDetPic .carousel-control {background: #f2f2f2;width:30px;opacity: 1}
#urunDetPic .carousel-control span {line-height: 450px;font-size: 30px;color: #a2a2a2 !important;opacity: 1;text-shadow: 0 1px 2px #fff}
.btn-block {display: block;width: 100%;}
.bbold {font-weight: bold;color:#000;}
.stokkodu , .urun-fiyat {font-size:12px;}
.stokkodu .bbold {display: block;font-size:17px;}
.urun-fiyat .bbold {font-size:17px;display: block;color:#c60262;}
.eskifiyat {text-decoration: line-through}
.kargo-fiyat {font-size:12px;letter-spacing: 1px}
.adet {font-size:12px;}
.panel-title {font-size:14px;color:#000;font-weight:500}
.panel-title i {margin-right: 10px;}
.panel-default > .panel-heading {background: #fff;border-radius: 0;font-size:13px;}
.panel-group .panel { margin-bottom: 0; border-radius: 0px; }
.urun_aciklamasi p {margin-top:0 !important;}

.sepetsatir .urun_name {line-height: 14px;font-size:12px;display: inline-block;}
.sepetsatir {margin-bottom: 5px;border-top: 1px dashed #e2e2e2;padding: 8px 0 5px 0;color:#8e8e8e;}
.sepetsatir.t2{display:flex;}
.sepete-ekle .addToBasketButton, .btn-sepet {background: #c60262 !important;font-size:15px;letter-spacing: 1px;padding:18px 0;}
.sepete-ekle {padding-top: 0px;}
.sepete-ekle .addToBasketButton {margin-bottom: 10px;}
.addToBasketButton {background: #000;color:#fff !important;font-weight:bold;font-size:11px;margin-bottom: 30px;padding:5px 10px;letter-spacing: 1px;display: inline-block !important;}
.pembe {
	color:#e2007b;
}

.desc-info {color:#3a3a3a;font-size:12px;background:#f3f3f3}
.panel-collapse img {width:auto}
