#login-modal h2 {text-align: center}
/* Your application styles go here */
#login-modal .modal-backdrop {padding:10px;}
.modal-backdrop-bg {background-color:rgba(0,0,0,0.6)}
.modal {width:calc(100% - 20px);margin-top:10px;min-height:auto}
.scroll-content {position:static;top:inherit;left:inherit;right:inherit;bottom: inherit;}
