<ion-content>
	<div id="homeContent" class="page-content">
		<div>
			<ion-slide-box ng-if="home.slider" id="home-slider" show-pager="false" active-slide="0">
				<ion-slide nav-view="" ng-repeat="banner in home.slider">
					<a ui-sref="category({categoryName:'asdfa'})"><img ng-attr-src="{{banner.img}}"></a>
				</ion-slide>
			</ion-slide-box>
		</div>
		<div class="row" ng-repeat="banners in home.banners|filter:$root.checkStore">
			<div ng-repeat="banner in banners.banner" class="{{banner.class}}">
				<a ui-sref="category({categoryName:banner.url})">
					<img ng-attr-src="{{banner.img}}"></a>
			</div>
		</div>
	</div>
	<!-- homeContent -->
	<script id="homepage/modal.html" type="text/ng-template">
		<ion-modal-view>
			<ion-content>
				<div id="gender-cont" class="padding">
					<h1 class="title">Lütfen Mağaza Seçimi Yapınız</h1>
					<a class="float-left" ng-click="$root.selectStore('female')">KADIN</a>
					<a class="float-right" ng-click="$root.selectStore('male')">ERKEK</a>
					<div class="clearfix"></div>
					Size özel ürün önerileri ve daha hızlı alışveriş için mağaza seçimi yapınız...
				</div>
			</ion-content>
		</ion-modal-view>
	</script>
	<ng-footer></ng-footer>

</ion-content>
