<ion-content class="main-top" ng-attr-title="{{::product.title}}" lazy-scroll>
  <div id="product-detail" style="margin-bottom:50px">
    <div style="padding:15px">
      <ion-slide-box ng-if="::product.images" id="product-slider" show-pager="false" active-slide="0">
        <ion-slide nav-view="" ng-repeat="image in ::product.images">
          <img width="100%" ng-attr-src="{{image}}">
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="container">
    	<div class="" style="padding:10px 15px;">
    		<div class="pull-left stokkodu">
    			<span class="bbold">{{::product.stockCode}}</span>
    			( Stok Kodu )
    		</div>
    		<div class="pull-right urun-fiyat">
    			<span class="bbold">
    				{{::product.price}} TL </span>
    			<span class="eskifiyat">
    				{{::product.oldPrice}} TL	</span>
    		</div>
    		<div class="clearfix"></div>
    	</div>
    </div>

    <div class="sepete-ekle container">
			<button type="button" class="btn btm-primary btn-block bold  add-to-cart addToBasketButton" data-title="Sepete Ekle" ng-click="addBasket()">
				<i class="ion-bag" aria-hidden="true"></i> SEPETE EKLE
			</button>
			<style>
				.stokbitensayfa {
					display: none;
				}
			</style>
    </div>

    <div class="container" style="margin:10px 0;overflow:hidden">
      <div class="sosyalband">
        <a class="facebook" ng-href="{{::'http://www.facebook.com/sharer.php?u=https://takibu.com/' + product.url}}&amp;t={{product.name}}" rel="nofollow"><i class="ion-social-facebook"></i></a>
        <a class="whatsapp" ng-href="{{::'whatsapp://send?text=' + product.name + ' Fiyatı Sadece ' + prodcut.price + ' Tıkla : https://www.takibu.com/' + product.url + ' / ' + product.stockCode}}"
        ng-data-text="{{::product.name}}" ng-data-href="{{::product.price}}" rel="nofollow"><i class="ion-social-whatsapp active"></i></a>
        <a class="twitter" ng-href="{{::'https://twitter.com/intent/tweet?text=' + product.name + ' Fiyatı Sadece ' + product.price + ' http://takibu.com/a_' + product.id }}" rel="nofollow"><i class="ion-social-twitter"></i></a>
        <a class="pinterest" ng-href="{{::'http://pinterest.com/pin/create/button/?url=https://www.takibu.com/' + product.url + '&amp;description=' + product.name}}"
        rel="nofollow"><i class="ion-social-pinterest"></i></a>

        <a class="mailat" ng-href="{{::'mailto:?&amp;subject=Ürüne Bakarmısın!&amp;body=' + product.name + ' Fiyatı Sadece ' + product.price + ' Tıkla : ' +product.url}}">
        <i class="ion-android-mail"></i> </a>
      </div>
  </div>

    <div class="container">
    	<div class="pic-alt bbold " style="padding:10px 0">
    			<h1>{{::product.name}}</h1>
    	</div>
    	<hr style="margin-top: 5px;">
    </div>


    <div class="container">
    	<div class="row" style="padding-left: 5px;padding-right: 5px">
    		<div class="col-xs-5">
    			<div class="adet">
    				<span class="pull-left">Adet <br> Gir</span>
    				<input class="form-control pull-right" ng-model="model.quantity" name="cart_quantity" value="1" id="cart_quantity" type="text" style="height:30px;width:70px !important;border:solid 1px #ccc;padding:6px 12px;line-height:1.42857143">
    			</div>
    		</div>
    		<div class="col-xs-7">
    			<div class="kargo-fiyat text-right" ng-bind-html="shipment_price">
    			</div>
    		</div>
    	</div>
    	<div class="clearfix"></div>



      	<div class="panel-group mt20 mb20" id="accordion" role="tablist">

          <div class="panel panel-default">
      	    <div class="panel-heading" role="tab" id="headingOne" ng-click="tabIndex = 0;">
      	      <h4 class="panel-title">
      	        <a role="button" data-toggle="collapse" class="collapsed">
      	          <i class="ion-code-download"></i>Ürün Açıklaması
      	        </a>
      	      </h4>
      	    </div>
      	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false"  ng-class="{'in':!tabIndex}">
      	      <div class="panel-body urun_aciklamasi" ng-bind-html="::product.description">
      	      </div>
      	    </div>
      	  </div>

          <div class="panel panel-default">
      	    <div class="panel-heading" role="tab" id="headingTwo" ng-click="tabIndex = 1;">
      	      <h4 class="panel-title">
      	        <a class="" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo">
      	         <i class="ion-clock"></i>24 Saat İçinde Kargo
      	        </a>
      	      </h4>
      	    </div>
      	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="true" ng-class="{'in':tabIndex===1}">
      	      <div class="panel-body" ng-bind-html="::shipment_time">
      	      </div>
      	    </div>
      	  </div>

      	  <div class="panel panel-default">
      	    <div class="panel-heading" role="tab" id="heading3" ng-click="tabIndex = 2;">
      	      <h4 class="panel-title">
      	        <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
      	        <i class="ion-refresh"></i> Teslimat / İade / Değişim
      	        </a>
      	      </h4>
      	    </div>
      	    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false" ng-class="{'in':tabIndex===2}">
      	      <div class="panel-body" ng-bind-html="::recived_info">
      	      </div>
      	    </div>
      	  </div>

      	</div>
        <!-- .panel-list -->
    </div>


  </div>
  <!-- #product-detail -->

</ion-content>
