
<ion-content class="main-top" ng-attr-title="{{category.title}}" lazy-scroll>
  <div class="container nopadding">
    <h1>
      <b>{{::category.name}}</b>
    </h1>
    <img ng-if="category.image" ng-attr-src="{{::category.image}}" alt="" class="categoryBanner responsive-image">
    <div class="portfolio-two">
      <div class="active row-wrap" >
        <div category-product ng-repeat="product in category.products.slice(startIndex,endIndex)" product="product" class="portfolio-two-item full-bottom col-xs-6"></div>
      </div>
    </div>
  </div>
  <div class="paginator">
    <ul>
      <li ng-class="{'active':currentPage === page}" ng-repeat="page in pages" ng-click="changePage(page)">{{page}}</li>
    </ul>
  </div>

  <br>
  <br>
  <br>



</ion-content>
