<ion-content class="side-bar-inner" id="basket-bar">
	<div class="sidebar-header">
		<span class="float-left">SEPETİNİZ</span>
		<a ng-click="$root.toggleRight()" class="float-rigth"><i class="ion-close-round"></i></a>
	</div>

	<div id="basketSummaryContainer">
		<!--sepette ürün varsa bu bölüm -->
		<div class="sepet-mesaj">
		<div class="sepetmesaj kargobedava" ng-if="$root.freeShipping">
		    <i class="fa fa-caret-left hidden-sm hidden-xs" style="position: absolute;color:#000;left:-6px;top:10px;"></i>
		    <b>Tebrikler ! </b> Kargonuz Bedava
	    </div>
		</div>
		<div class="sepet-urun-list" style="padding:10px">
			<div class="sepetsatir" ng-repeat="product in $root.products">
				<div class="col-xs-4" style="padding-left: 0px;">	<img ng-src="{{product.image}}"></div>
				<div class="col-xs-8" style="padding-left: 0;">
					<span class="urun_name">{{::product.name}}</span>
					<div style="margin-top: 10px;position:relative">
						<a ng-click="removeBasket(product.rowid)" class="removeBasketButton btn btn-black btn-sm basket-btn-asolute"> <i class="ion-close"></i> </a>
						<span class="total block pembe" style="font-size:16px"> <b>{{::product.price}} TL</b></span><br>
						<span style="font-size:12px;">{{product.qty}} * {{::product.price}} TL</span>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="side-sepet">
				<p class="mt30">
					<a ui-sref="basket" class="button button-green full-button button-mini bold add-to-cart" data-title="Sepete Ekle">
						SEPETE GİT
					</a>
					<a ng-click="$root.toggleRight()" class="button button-dark full-button button-mini bold add-to-cart mt10">
						ALIŞVERİŞE DEVAM ET
					</a>
				</p>
			</div>
		</div>
	</div>
</ion-content>
