<ion-content class="side-bar-inner">

	<div class="sidebar-header">
		<a href="tel:08508409081"><i class="fa fa-phone"></i></a>
		<a href="user/detail"><i class="fa fa-user"></i></a>

		<a target="_blank" href="https://www.facebook.com/takibu"><i class="fa fa-facebook"></i></a>
		<a target="_blank" href="https://www.twitter.com/takibucom"><i class="fa fa-twitter"></i></a>
		<a href="javascript:;"><i class="fa fa-times"></i></a>
	</div>

	<div class="sidebar-logo tiklagit">
		<a href="kayit_l"></a>
	</div>

	<div class="sidebar-divider" style="text-align: left;padding:8px 0 0 15px !important">
		Kategoriler
	</div>

	<ul class="sidebar-navigation">
		<li ng-repeat="menu in menus" ng-class="{'has-submenu':menu.submenus}">
			<a href="javascript:;" ng-attr-href="{{menu.url}}" ng-class="{'deploy-submenu':menu.submenus,'active-submenu':menu.active}" ng-click="activeSubmenu(menu)"><i class="fa {{menu.icon}}"></i>{{::menu.name}} <i class="fa" ng-class="{'fa-circle':!menu.submenus,'fa-plus':menu.submenus}"></i></a>
			<ul class="submenu" ng-class="{'active-submenu-items':menu.active}">
				<li ng-repeat-start="submenu in ::menu.submenus track by $index" style="margin-top: 20px" ng-if="$first"><a ui-sref="category({'categoryName':submenu.url})"><b>{{submenu.name}}</b></a></li>
				<li ng-repeat-end ng-if="!$first"><a ui-sref="category({'categoryName':submenu.url})">{{submenu.name}}</a> </li>
			</ul>
		</li>

	</ul>

</ion-content>
