<!DOCTYPE html>
<html ng-app="takibuApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <base href="/">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href="styles/style.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="styles/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/ionic/release/js/ionic.js"></script>
  <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
  <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
  <script src="bower_components/ionic-image-lazy-load/src/http-auth-interceptor.js"></script>
  <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="js/ionic-lazy-load.js"></script>
  <script src="js/openfb.js"></script>
  <script src="js/ngopenfb.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <!-- build:js scripts/scripts.js -->
  <!-- endbuild -->

</head>

<body ng-class="{'login-active':$root.loginModal}">
  <div id="page-loader" ng-if="$root.pageInProgress"></div>
  <div ng-if="$root.config">
    <ion-side-menus>
      <ion-side-menu-content>
        <ng-header></ng-header>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left" width="266">
        <side-bar-left></side-bar-left>
      </ion-side-menu>

      <ion-side-menu side="right" width="320">
        <side-bar-right></side-bar-right>
      </ion-side-menu>

    </ion-side-menus>
  </div>

  <div ng-if="!$root.config">

  </div>




  <script src="scripts/app.js"></script>
  <script src="scripts/configuration.js"></script>
  <script src="scripts/router.js"></script>

  <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
  <!-- !DO NOT EDIT! autogenerated includes, see Gruntfile.js -->
  <!-- include: "type": "js", "files":  ["scripts/**/*.js", "!scripts/*.js"] -->
  <script src="/scripts/category/category.controller.js"></script>
  <script src="/scripts/category/category.factory.js"></script>
  <script src="/scripts/components/header/header.controller.js"></script>
  <script src="/scripts/components/header/header.directive.js"></script>
  <script src="/scripts/components/product/product.controller.js"></script>
  <script src="/scripts/components/product/product.directive.js"></script>
  <script src="/scripts/components/sidebars/sidebar-left.controller.js"></script>
  <script src="/scripts/components/sidebars/sidebar-left.directive.js"></script>
  <script src="/scripts/components/sidebars/sidebar-right.controller.js"></script>
  <script src="/scripts/components/sidebars/sidebar-right.directive.js"></script>
  <script src="/scripts/general/baseFunctions.factory.js"></script>
  <script src="/scripts/general/requestInterceptor.factory.js"></script>
  <script src="/scripts/homepage/home.factory.js"></script>
  <script src="/scripts/basket/basket.service.js"></script>
  <script src="/scripts/basket/basket.factory.js"></script>
  <script src="/scripts/basket/basket.controller.js"></script>
  <script src="/scripts/basket/basket_adresses.controller.js"></script>
  <script src="/scripts/homepage/page.controller.js"></script>
  <script src="/scripts/pages/homepage.controller.js"></script>
  <script src="/scripts/pages/page.service.js"></script>
  <script src="/scripts/services/user.services.js"></script>
  <script src="/scripts/user/user.controller.js"></script>
  <script src="/scripts/user/user_signin.controller.js"></script>
  <script src="/scripts/product-detail/prodcut-detail.controller.js"></script>
  <script src="/scripts/product-detail/product-detail.service.js"></script>
  <!-- /include -->
  <!-- endbuild -->
</body>

</html>
