<ion-content>
	<div id="user-container" class="page-content">
		<h1>
			Merhaba {{$root.user.firstname}} {{$root.user.lastname}},<br>
			Hoşgeldiniz
		</h1>

		<div class="user-detail">
			<ul>
				<li><b>Mail Adresiniz</b> : {{$root.user.email}}</li>
				<li><b>Mail Adresiniz</b> : {{$root.user.lastLogin}}</li>
				<li><b>Mail Adresiniz</b> : {{$root.user.ip}}</li>
				<li><b>Mail Adresiniz</b> : {{$root.user.registerDate}}</li>

			</ul>


		</div>


	</div>
  <!-- single-page -->
  <ng-footer></ng-footer>

</ion-content>
