<ion-content>
	<style>
		.no-login a {width:100%;}
		.btn-default {
			border: 1px solid #ccc;
		    font-size: 16px;
		    text-align: left;
		    color: #000 !important;
		    font-weight: bold;
		    border-left: 4px solid #c60262;
		}
		.mt10 {margin-top: 10px}
		.mt20 {margin-top: 20px}
		.mt30 {margin-top: 30px}

		.mb10 {margin-bottom: 10px}
		.mb20 {margin-bottom: 20px}
		.mb30 {margin-bottom: 30px}
		.button.button-block, .button.button-full {margin-top: 0}
	</style>
	<div id="basketContent" class="page-content">
		<p style="padding:15px;font-size:14px"> Devam etmek için <b>Giriş Yapın</b> &amp; <b>Üye Olun</b>.<br> Dilerseniz üye olmadan da cep telefonu numaranız ile de işleme devam edebilirsiniz. </span></p>
		<div style="padding:10px" class="no-login">

			<a class="button btn-default button-full" ng-click="$root.toggleSignIn()"><i class="ion-android-person" style="font-size:17px"></i> ÜYE GİRİŞİ YAP</a>

			<a class="button btn-default button-full" ng-click="register=!register;"><i class="ion-android-person" style="font-size:17px"></i> KAYIT OL <small>(30 TL İNDİRİM KAZAN)</small></a>
			<div ng-class="{active:register}" style="padding:15px;border:1px solid #eee">
					<div class="list">
						<div class="login-title">
							<b>E-mail</b>							
						</div>
						<input class="login-input ng-pristine ng-invalid ng-invalid-required ng-touched" type="text"  placeholder="info@takibu.com" required="">
						
						<div class="login-title">
							<b>Şifre</b> <b>(Şifremi Unuttum)</b>
						</div>
						<input class="login-input ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password"  placeholder="Şifreniz" required="">
						<div class="mt10">
							
		                     <input type="radio" class="inline" value="m" name="miniGender">&nbsp;Erkek&nbsp;&nbsp;
		                     <input class="inline" type="radio" value="f" name="miniGender">&nbsp;Kadın
		                 
						</div>
						<div class="mt10">
							<input type="checkbox" class="inline" name="inputSmsSub" style="font-size:11px" checked="true">
							<a href="/kullanici-ve-satis-sozlesmesi_p" class="inline">Üyelik Sözleşmesini</a> okudum.
						</div>
						<p>Kampanya ve duyurulardan sms yada mail ile haberdar olmak istiyorum.</p>
					</div>

					
			</div>
			<a class="button btn-default button-full" ng-click="offline=!offline;"><i class="ion-wifi" style="font-size:17px"></i> ÜYE OLMADAN DEVAM ET</a>
			<div ng-class="{active:offline}" style="padding:15px;border:1px solid #eee">
				
                        <span class="block " style="margin-bottom: 10px;font-size:13px;color:black;">Cep Telefonu Numranızı Giriniz</span>
                        <input id="checkoutTelefon" name="checkoutTelefon" type="text" placeholder="Telefon Numaranızı Giriniz" class="form-control telefonyeni" autocomplete="false" required="">
                        <a id="checkoutTelefonButton" class="btn btn-black btn-block btn-lg mt20 oploader_button"> DEVAM ET <i class="fa-fw fa fa-chevron-right"></i> </a>
                   
			</div>
		</div>



	</div>
	<!-- basketContent -->
	<ng-footer></ng-footer>

</ion-content>
