<ion-content>
	<div id="basket-adresses" class="page-content">
		<div id="adress-list">
			burası adres listesi
		</div>
		<div >
			<a href="javascript:;" class="button btn-primary button-full" >Yeni Adres Ekle</a>
			<div id="new-adress">
				Yeni adres ekleme alanı burası abi
			</div>
			<a href="javascript:;" class="button btn-primary button-full" >Devam Et Butonu</a>


		</div>
	</div>
	<!-- basketContent -->
	<ng-footer></ng-footer>

</ion-content>
