<ion-content>
	<div id="basketContent" class="page-content">
		<h1 class="mh1"><i class="ion-android-cart" style="font-size:17px;" aria-hidden="true"></i> ALIŞVERİŞ SEPETİNİZ</h1>
		<div style="padding:10px">
			<div class="sepetsatir t2" ng-repeat="product in $root.products">
				<div style="flex:1;padding-left: 0px;max-width:70px;padding-right:0;">	<img ng-src="{{product.image}}"></div>
				<div style="flex:1;padding-left: 10px;">
					<span class="urun_name">{{::product.name}}</span>
					<div style="margin-top: 10px;position:relative">
						<a ng-click="removeBasket(product.rowid)" class="removeBasketButton btn btn-black btn-sm basket-btn-asolute"> <i class="ion-close"></i> </a>
						<span class="total block pembe" style="font-size:16px"> <b>{{::product.price}} TL</b></span><br>
						<span style="font-size:12px;">{{product.qty}} * {{::product.price}} TL</span>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div id="price-detail">
			<span>Ürünler</span><b class="pull-right">{{$root.basketList.grant_total}} TL</b>
			<div class="clearfix"></div>
			<span>Kargo</span><b class="pull-right" ng-class={active:$root.basketList.free_shipping}>{{$root.basketList.free_shipping?'KARGONUZ BEDAVA':$root.basketList.shipping_price + ' TL'}}</b>
			<div class="clearfix"></div>
		</div>

		<a ng-if="!$root.user" ui-sref="userSignIn()" class="button btn-primary button-full" >Hemen Satın Al</a>
		<a ng-if="$root.user" ui-sref="basketCheckout()" class="button btn-primary button-full" >Hemen Satın Al</a>

	</div>
	<!-- basketContent -->
	<ng-footer></ng-footer>

</ion-content>
