<div id="header" class="bar bar-header">

	<a id="toggle-left-menu" href="javascript:;" ng-click="toggleLeft()" class="open-menu"><i class="ion-android-menu"></i></a>
	<a id="toggle-signin" href="javascript:;" ng-click="toggleSignIn()" class="open-menu"><i class="ion-android-person"></i></a>
	<span class="title">
		<a ui-sref="home()">
		<img id="logo" src="https://www.takibu.com/assets/img/logo.png" ></a>
	</span>
	<div id="header-right-buttons">
		<a href="javascript:;" ng-click="toggleRight()" class="open-more"><i class="ion-ios-cart"></i> <b id="headerBasketCount">1</b> </a>
		<a href="javascript:;" class="open-search" id="search"><i class="ion-ios-search-strong"></i></a>
	</div>
	<!-- //#header-right-buttons -->
</div>

<script id="header/login.html" type="text/ng-template">
	<ion-modal-view id="login-modal" >
		<ion-content>
			<h2>
				Giriş Yap
			</h2>
			<button class="close pull-right" ng-click="toggleSignIn()">x</button>
			<div  class="padding">
				<form ng-submit="signIn()">
					<ul class="takibu-tab">
						<li ng-class="{active:activeTab===1}"><a href="javascript:;" ng-click="changeTab(1)">Mail</a></li>
						<li ng-class="{active:activeTab===2}"><a href="javascript:;" ng-click="changeTab(2)">Telefon</a></li>
					</ul>
					<div class="clearfix"></div>
					<div class="list">
						<div class="login-title">
							<b ng-if="activeTab === 1">E-mail</b>
							<b ng-if="activeTab === 2">Telefon</b>
						</div>
						<input ng-if="activeTab === 1" class="login-input" type="text" ng-model="sIModel.email" placeholder="info@takibu.com" required>
						<input ng-if="activeTab === 2" class="login-input" type="text" ng-model="sIModel.phone" placeholder="5005005050" required>
						<div class="login-title">
							<b>Şifre</b> <b>(Şifremi Unuttum)</b>
						</div>
						<input class="login-input" type="password" ng-model="sIModel.password" placeholder="Şifreniz" required>
					</div>
					<div class="clearfix"></div>
					<button class="button btn-primary button-full" type="submit">Giriş Yap</button>
				</form>
				<button class="button btn-primary button-full" type="submit" ng-click="fcSignIn();">Facebook ile Giriş Yap</button>
			</div>
			<div class="modal-bottom">
 				Devam etmek için giriş yapın !
			</div>
		</ion-content>
	</ion-modal-view>
</script>
